<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto2android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gatoInfoDos"></activity>
        <activity android:name=".escoger" />
        <activity android:name=".DocPerroSisbenUno" />
        <activity android:name=".infoPerroUnoSisben" />
        <activity android:name=".sisbenPerros" />
        <activity android:name=".signn" />
        <activity android:name=".SisbenGatos" />
        <activity android:name=".gatoUnoInfo" />
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>